nbproject/private/cache/retriever/localhost_9000/customermanagement.wsdl_CustomerManagement.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CustomerManagement" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" xmlns:ns1="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" version="1.0" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="address" type="tns:address" />
<xs:element name="create_customer" type="tns:create_customer" />
<xs:element name="create_customerResponse" type="tns:create_customerResponse" />
<xs:element name="customer" type="tns:customer" />
<xs:element name="delete_customer" type="tns:delete_customer" />
<xs:element name="delete_customerResponse" type="tns:delete_customerResponse" />
<xs:element name="get_customer" type="tns:get_customer" />
<xs:element name="get_customerResponse" type="tns:get_customerResponse" />
<xs:element name="item" type="tns:item" />
<xs:element name="notify" type="tns:notify" />
<xs:element name="notifyResponse" type="tns:notifyResponse" />
<xs:element name="order" type="tns:order" />
<xs:element name="product" type="tns:product" />
<xs:element name="update_account" type="tns:update_account" />
<xs:element name="update_accountResponse" type="tns:update_accountResponse" />
<xs:element name="update_customer" type="tns:update_customer" />
<xs:element name="update_customerResponse" type="tns:update_customerResponse" />
<xs:complexType name="notify">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:customer" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="customer">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="openBalance" type="xs:decimal" />
<xs:element minOccurs="0" name="addresses">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="address" type="tns:address" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="orders">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="message" type="xs:string" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="street" type="xs:string" />
<xs:element minOccurs="0" name="city" type="xs:string" />
<xs:element minOccurs="0" name="zipCode" type="xs:string" />
<xs:element name="house" type="xs:int" />
<xs:element name="door" type="xs:int" />
<xs:element name="isShipping" type="xs:boolean" />
<xs:element name="isBilling" type="xs:boolean" />
<xs:element name="isOther" type="xs:boolean" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="order">
<xs:sequence>
<xs:element minOccurs="0" name="customer" type="tns:customer" />
<xs:element minOccurs="0" name="orderDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="items">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:item" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element name="quantity" type="xs:int" />
<xs:element minOccurs="0" name="product" type="tns:product" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal" />
<xs:element minOccurs="0" name="items">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:item" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="notifyResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="create_customer">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:customer" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="create_customerResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:customer" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="delete_customer">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="delete_customerResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="update_account">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:decimal" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="update_accountResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="get_customer">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="get_customerResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:customer" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="update_customer">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:customer" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="update_customerResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="delete_customer">
    <wsdl:part element="ns1:delete_customer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_customerResponse">
    <wsdl:part element="ns1:get_customerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_customer">
    <wsdl:part element="ns1:create_customer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update_accountResponse">
    <wsdl:part element="ns1:update_accountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyResponse">
    <wsdl:part element="ns1:notifyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete_customerResponse">
    <wsdl:part element="ns1:delete_customerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_customerResponse">
    <wsdl:part element="ns1:create_customerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update_customerResponse">
    <wsdl:part element="ns1:update_customerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update_account">
    <wsdl:part element="ns1:update_account" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update_customer">
    <wsdl:part element="ns1:update_customer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notify">
    <wsdl:part element="ns1:notify" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_customer">
    <wsdl:part element="ns1:get_customer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerManagement">
    <wsdl:operation name="notify">
      <wsdl:input message="ns1:notify" name="notify">
    </wsdl:input>
      <wsdl:output message="ns1:notifyResponse" name="notifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_customer">
      <wsdl:input message="ns1:create_customer" name="create_customer">
    </wsdl:input>
      <wsdl:output message="ns1:create_customerResponse" name="create_customerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_customer">
      <wsdl:input message="ns1:delete_customer" name="delete_customer">
    </wsdl:input>
      <wsdl:output message="ns1:delete_customerResponse" name="delete_customerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_account">
      <wsdl:input message="ns1:update_account" name="update_account">
    </wsdl:input>
      <wsdl:output message="ns1:update_accountResponse" name="update_accountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <wsdl:input message="ns1:get_customer" name="get_customer">
    </wsdl:input>
      <wsdl:output message="ns1:get_customerResponse" name="get_customerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_customer">
      <wsdl:input message="ns1:update_customer" name="update_customer">
    </wsdl:input>
      <wsdl:output message="ns1:update_customerResponse" name="update_customerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>