nbproject/private/cache/retriever/localhost_9000/shipping.wsdl_ShippingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ShippingService" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:ns1="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" version="1.0" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="address" type="tns:address" />
<xs:element name="item" type="tns:item" />
<xs:element name="product" type="tns:product" />
<xs:element name="ship_items" type="tns:ship_items" />
<xs:element name="ship_itemsResponse" type="tns:ship_itemsResponse" />
<xs:complexType name="ship_items">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:item" />
<xs:element minOccurs="0" name="arg1" type="tns:address" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element name="quantity" type="xs:int" />
<xs:element minOccurs="0" name="product" type="tns:product" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal" />
<xs:element minOccurs="0" name="items">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:item" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="street" type="xs:string" />
<xs:element minOccurs="0" name="city" type="xs:string" />
<xs:element minOccurs="0" name="zipCode" type="xs:string" />
<xs:element name="house" type="xs:int" />
<xs:element name="door" type="xs:int" />
<xs:element name="isShipping" type="xs:boolean" />
<xs:element name="isBilling" type="xs:boolean" />
<xs:element name="isOther" type="xs:boolean" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="ship_itemsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ship_itemsResponse">
    <wsdl:part element="ns1:ship_itemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ship_items">
    <wsdl:part element="ns1:ship_items" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShippingService">
    <wsdl:operation name="ship_items">
      <wsdl:input message="ns1:ship_items" name="ship_items">
    </wsdl:input>
      <wsdl:output message="ns1:ship_itemsResponse" name="ship_itemsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>